
<div class="mx-auto mb-0 mt-1 max-w-md space-y-4 rounded-lg bg-slate-200">
  <div class="text-center font-medium">
  <p class="mt-2 line-clamp-3 text-sm/relaxed text-black">
    {{cityInput.Ciudad}}
  </p>

  <p class="mt-2 line-clamp-3 text-sm/relaxed text-black">
    {{cityInput.Pais}}
  </p>
  
  <p class="mt-2 line-clamp-3 text-sm/relaxed text-black">
    {{cityInput.Fecha}}
  </p>

  <input  type="checkbox" id="miCheckbox" name="miCheckbox">      
      <label  for="miCheckbox">visitado</label>

</div>
</div>
